body{
    width: 1440px;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: auto;
    width: 20%;
    margin: 9.3rem auto;
    background-color: white;
    padding: 1.1rem ;
    border-radius: 1.2rem;   
}

.image img{
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 1.2rem;
}

.about h2{
    color:hsl(218, 44%, 22%);
    margin-bottom: 0;
    padding: .5rem;
    margin-top: .9rem;
}

.about p{
    color:hsl(220, 15%, 55%);
    padding: 1rem;
    word-spacing: 1px;
    margin-top: 0;
    margin-bottom: 0;
}